@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #010418;
}
.calculator{
    position: relative;
    display: grid;
    cursor: pointer;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    row-gap: none;
    width: 62px;
    height: 62px;
    color: #fff;
    background: #000000;
    place-items: center;
    user-select: none;
}
.calculator span:active{
    background: #ff3be5;
}
.calculator span.clear{
    grid-column: span 2;
    width: 124px;
}
.calculator span.clear {
    background: #2cd1ff;
}
.calculator span.plus{
    grid-row: span 2;
    height: 124px;
}
.calculator span.equal{
    background: #2bf32b;
}



